/* -- Mixins -- */
.clearfix() {
  zoom: 1;
  &:before { content: ''; display: block; }
  &:after { content: ''; display: table; clear: both; }
}

.test(){
	outline:1px solid red;
}


body{ }

/* -- Banner Components -- */
.banner{
	height:300px;
	background:#000;
}


/* -- Navigation components -- */
.main-nav{
	ul{ padding:0; margin:0; }
	li{ margin-top:1em; }
	li:first-child{ margin-top:0; }
	a{ display:block; background:#ececec; padding:1em; text-align:center; }
	
	@media (min-width:40em){
		ul { .clearfix(); }
		li { float:left; margin-left:1em; margin-top:0; }
		li:first-child{ margin-left:0; }
		a{ padding:0.5em 1em; text-align:left; }	
	}
}

/* -- Layout Components -- */
.container{
	margin: 0 auto;
	
	@media (min-width:40em){
		width:40em;
	}
	
	@media (min-width: 55em){
		width:55em;	
	}
}

.col-container{
	.clearfix();
	.test();
}
.col{
	margin-top:1em;
	padding-top:1em;
	border-top:1px solid blue;
	min-height:200px;
	&:first-child{ margin-top:0; padding-top:0; border:none; }
	
	@media (min-width:40em){
		float:left;	
		margin-top:0;
		padding-top:0;
		border:none;
	}
}

.col-1{ background:purple; width:100%; }

.col-2{
	background:orange;
	@media (min-width:40em){
		width:48.75%;
		margin-left:2.5%;
		&:first-child{ margin-left:0; }
	}
}

.col-3{
	background:blue;
	@media (min-width:40em){
		width:32%;
		margin-left:2%;
		&:first-child{ margin-left:0; }
	}
}